In [2]:
#Para instalar bibliotecas
#pip install nome_da_biblioteca

In [11]:
from pandas_datareader import data as pdr
from datetime import date
import yfinance as yf
yf.pdr_override()
import pandas as pd
import numpy as np

In [12]:
empresa = 'AMZN'

In [10]:
start_date= "2019–01–01"
end_date="2019–11–30"

In [6]:
data = yf.download("AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [7]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,110.392334,28781900
2017-01-04,115.849998,116.510002,115.750000,116.019997,110.268791,21118100
2017-01-05,115.919998,116.860001,115.809998,116.610001,110.829552,22193600
2017-01-06,116.779999,118.160004,116.470001,117.910004,112.065109,31751900
2017-01-09,117.949997,119.430000,117.940002,118.989998,113.091560,33561900
...,...,...,...,...,...,...
2017-04-24,143.500000,143.949997,143.179993,143.639999,137.111542,17134300
2017-04-25,143.910004,144.899994,143.869995,144.529999,137.961105,18871500
2017-04-26,144.470001,144.600006,143.380005,143.679993,137.149704,20041200
2017-04-27,143.919998,144.160004,143.309998,143.789993,137.254684,14246300
2017-04-28,144.089996,144.300003,143.270004,143.649994,137.121063,20860400

In [14]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [28]:
meuvetor = ["BIDI11.SA","WEGE3.SA","ITSA4.SA"]
def passa_os_dados(meuvetor):
    for item in meuvetor:
        print(item)
        print(wb.DataReader(item, data_source='yahoo', start='2018-1-1'))
        print("\n")
        
passa_os_dados(meuvetor)

BIDI11.SA
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close  Volume
Date
2019-07-19  43.400002  43.900002  41.700001  42.689999  42.689999  930300
2019-07-22  43.410000  44.330002  41.299999  43.200001  43.200001  613000
2019-07-23  42.939999  42.939999  41.400002  42.599998  42.599998  566300
2019-07-24  42.450001  43.240002  41.700001  42.830002  42.830002  519700
2019-07-25  42.900002  43.000000  41.980000  42.500000  42.500000  401200
...               ...        ...        ...        ...        ...     ...
2020-07-17  50.490002  51.349998  50.320000  50.799999  50.799999  578700
2020-07-20  50.990002  51.740002  50.610001  51.400002  51.400002  543700
2020-07-21  51.389999  52.799999  51.180000  52.730000  52.730000  592800
2020-07-22  52.889999  54.779999  52.139999  54.490002  54.490002  586400
2020-07-23  54.000000  55.209999  52.490002  53.470001  53.470001  513700

[252 rows x 6 columns]


WEGE3.SA
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close      Volume
Date
2018-01-02  18.730801  19.361500  18.730801  19.246201  18.523153   2406430.0
2018-01-03  19.153799  19.192301  18.915400  18.953800  18.241739   2326480.0
2018-01-04  19.061501  19.169201  18.769199  18.769199  18.064072   1658800.0
2018-01-05  18.938499  18.961500  18.684601  18.846201  18.138184   1276340.0
2018-01-08  18.853800  19.115400  18.507700  19.000000  18.286203   1673100.0
...               ...        ...        ...        ...        ...         ...
2020-07-17  55.029999  58.459999  54.700001  58.090000  58.090000   6470700.0
2020-07-20  58.400002  60.160000  58.200001  60.160000  60.160000   5236000.0
2020-07-21  60.500000  61.029999  59.009998  59.880001  59.880001   5063300.0
2020-07-22  62.700001  68.900002  62.509998  68.199997  68.199997  17764000.0
2020-07-23  68.000000  69.800003  66.610001  66.980003  66.980003   9774900.0

[632 rows x 6 columns]


ITSA4.SA
[*********************100%***********************]  1 of 1 completed
                Open     High       Low    Close  Adj Close    Volume
Date
2018-01-02   9.88182  10.0273   9.86364  10.0273   8.509640  14040950
2018-01-03   9.98182  10.1818   9.94545  10.1455   8.609951  13498870
2018-01-04  10.17270  10.3636  10.15450  10.3364   8.771956  14303520
2018-01-05  10.33640  10.3545  10.22730  10.3545   8.787320  10845010
2018-01-08  10.30000  10.3455  10.25450  10.3455   8.779679  11024750
...              ...      ...       ...      ...        ...       ...
2020-07-17  10.19000  10.3300  10.16000  10.2700  10.270000  20885300
2020-07-20  10.30000  10.4800  10.22000  10.4200  10.420000  28905900
2020-07-21  10.50000  10.6300  10.47000  10.5200  10.520000  26798100
2020-07-22  10.57000  10.7400  10.42000  10.5200  10.520000  67799300
2020-07-23  10.53000  10.5800  10.35000  10.3700  10.370000  29756100

[631 rows x 6 columns]